.center-screen{
  height:100vh;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  gap:20px;
}
#page-container{
  padding:20px;
  padding-bottom:80px;
}
#bottom-nav{
  position:fixed;
  bottom:0;
  left:0;
  width:100%;
  height:60px;
  background:#111;
  display:flex;
  justify-content:space-around;
  align-items:center;
  border-top:1px solid #222;
}
