.platform-page {
    background:#111;
    color:white;
    min-height:100vh;
    padding:20px;
    font-family:Arial;
}

.card {
    background:#1c1c1c;
    padding:15px;
    border-radius:12px;
    margin-bottom:15px;
}

button {
    padding:10px 15px;
    border:none;
    border-radius:8px;
    background:#ff0050;
    color:white;
    cursor:pointer;
}
